
.productsGrid
    display: grid
    height: fit-content
    background-color: red
    grid-template-columns: auto
    width: 100%

    @media screen and ( min-width: 40em)
        grid-template-columns: auto auto

.productDiv
    text-align: center 
        