
$product-space-size: 1em
$product-space-color: #fff
$section-padding: 1%

section
    padding: $section-padding
    
    @media screen and ( min-width: 36em )
        padding: 7%


//ANCHOR products
.productSection
    padding: $product-space-size
    background-color: $product-space-color

.productsGrid
    display: grid
    height: fit-content
    background-color: $product-space-color
    grid-template-columns: auto
    grid-auto-rows: 70vw
    column-gap: $product-space-size
    row-gap: $product-space-size

    @media screen and ( min-width: 60em)
        grid-template-columns: auto auto
        grid-auto-rows: 35vw
         

.productDiv
    text-align: center
    background-color: #f9f9f9
    background-repeat: no-repeat
    background-size: contain
    position: relative
    background-origin: content-box
    padding: 7em 7em 2em 7em
    background-position: center

    .coveringProductLink
        position: absolute
        @include position(0)
        color: transparent

    .productText
        position: absolute
        z-index: 3
        left: 50%
        top: 7%
        transform: translate(-50%, 0)
        font-family: font1

        h2
            z-index: 2
            font-family: font1
            font-weight: 200
            color: $dark1
            margin: 0

        .msg
            margin: 0.8em 0 0.4em 0 
            color: $dark2
            font-size: 1.1em

        a, a:visited
            color: $dark3
            margin: 0 0.2em

    &.buds
        background-image: url("/img/buds.webp")
        background-size: 70%
        background-position-y: 10%

    &.phone
        background-image: url("/img/a425g.webp")

    &.phone-backside
        background-image: url("/img/phone-backside.webp")

    &.fridge
        background-image: url("/img/fridge.webp")





        

    
//ANCHOR about

.aboutSection
    background-color: $dark2

    .aboutCompanyTextContainer
        @extend .textContainer
        grid-template-columns: auto
        grid-auto-flow: unset
        margin: 2vw auto
        color: $light1

        @media screen and ( min-width: 40em)
            border-left: 2px solid $light1

        @media screen and ( min-width: 50em)
            grid-auto-flow: column

        @media screen and ( min-width: 56em)
            margin: 0 auto
        
.foundersSection
    background-color: $light1
    color: $dark1
    padding-top: 7%
.founders
    display: grid
    row-gap: 2em
    max-width: 75em
    margin: auto
.founder
    display: grid
    grid-template-columns: auto
    grid-template-rows: 16em auto

    img
        height: 100%
        width: 80%
        margin: 0 auto
        background-color: red
        grid-row: 1
        max-width: 20em
        object-fit: cover

    @media screen and ( min-width: 55em)
        grid-template-columns:  1fr 1fr 1fr
        grid-template-rows: auto

        img
            grid-row: unset
            width: 100%

        .textContainer
            grid-column: span 2
        

//ANCHOR conntacts
.contactSection
    background-color: $dark4
    padding: 3%

.contactInfoContainer
    max-width: 35em
    margin: auto
    display: grid
    grid-template-columns: auto auto
    text-align: center
    font-size: 1.1em

    > a 
        color: $light1

    @media screen and ( min-width: 50em)
        grid-template-columns: auto auto auto auto
        row-gap: 1em
        
        
