html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
  margin-top: 3em;
}

a {
  color: red;
}

.textContainer, .aboutSection .aboutCompanyTextContainer {
  padding: 0.5em 2em;
  margin: 0 auto;
  font-size: 1.1em;
  line-height: 1.6em;
  max-width: 40em;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.verticalLine {
  border-left: 0.1em solid green;
  height: 100%;
}

nav {
  background-color: green;
  -webkit-box-shadow: 0 2px 3px pink;
          box-shadow: 0 2px 3px pink;
  display: -ms-grid;
  display: grid;
  font-family: 'Raleway', sans-serif;
  -ms-grid-columns: 70px 70px;
      grid-template-columns: 70px 70px;
  height: 3em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: initial;
  position: absolute;
  top: 0;
  z-index: 6;
  width: 100%;
}

nav * {
  z-index: 6;
}

.logo, .menu_dropdown_button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px;
}

.icon, .menu_dropdown_button > img {
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: green;
  -webkit-box-shadow: 0 2px 3px pink;
          box-shadow: 0 2px 3px pink;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  height: 0px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 3em;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  width: 100%;
  z-index: 3;
}

.links > a {
  color: var(#585858);
  font-size: 18px;
  font-weight: 200;
  padding-right: var(1.3em);
  text-align: right;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.dropdown {
  background-color: var(--weak-green);
  border: 1px solid yellow;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  display: none;
  grid-auto-flow: row;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1 / span 6;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: (32px)[auto-fill];
      grid-template-rows: repeat(auto-fill, 32px);
  height: 100%;
  overflow: auto;
  padding: 20px;
  row-gap: 15px;
  text-align: center;
  width: 100%;
}

.dropdown > a {
  color: var(--medium-text-color);
  font-size: 16px;
  text-decoration: none;
}

.dropdown_main_link {
  grid-column: 1 / -1;
  text-align: center;
}

.dropdown:hover, #products:hover ~ #products_more {
  display: -ms-grid !important;
  display: grid !important;
}

#products {
  -ms-grid-row: 2;
  grid-row: 2;
}

#about {
  -ms-grid-row: 3;
  grid-row: 3;
}

#founders {
  -ms-grid-row: 4;
  grid-row: 4;
}

#contact {
  -ms-grid-row: 5;
  grid-row: 5;
}

.spacing_nav_div {
  display: none;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 0;
}

#hidden_menu_checkbox {
  display: none;
  float: right;
}

#hidden_menu_checkbox:checked ~ .links {
  height: 12.5em;
}

.current-link {
  color: #888 !important;
}

#dimmer {
  background: #000;
  display: none;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

@media only screen and (min-height: 900px) {
  nav, .small_screen_menu {
    position: fixed;
  }
}

@media only screen and (max-width: 500px) {
  .links {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .dropdown {
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    height: 100%;
    overflow: scroll;
    padding: 4px;
    row-gap: 6px;
    text-align: left;
  }
  .dropdown > a {
    font-size: 18px;
  }
}

@media (min-width: 920px) {
  nav {
    -ms-grid-columns: 750px auto 75px;
        grid-template-columns: 750px auto 75px;
  }
  .links {
    -webkit-box-shadow: none;
            box-shadow: none;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto);
    height: 3em !important;
    overflow: visible;
    position: relative;
    top: 0;
  }
  .links > a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 1 !important;
    grid-row: 1 !important;
    height: 3em;
  }
  #start {
    margin-left: 20px;
  }
  .dropdown {
    grid-auto-flow: row;
    -ms-grid-rows: (auto)[auto-fill];
        grid-template-rows: repeat(auto-fill, auto);
    height: auto;
    max-width: 400px;
    position: absolute;
    row-gap: 25px;
    top: 3em;
    width: unset;
  }
  .spacing_nav_div {
    display: block;
  }
  .logo {
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .menu_dropdown_button {
    display: none;
  }
}

section {
  padding: 7%;
}

.productSection {
  padding: 1em;
  background-color: #fff;
}

.productsGrid {
  display: -ms-grid;
  display: grid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-auto-rows: 70vw;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  row-gap: 1em;
}

@media screen and (min-width: 68em) {
  .productsGrid {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-auto-rows: 35vw;
  }
}

.productDiv {
  text-align: center;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-origin: content-box;
  padding: 7em;
  background-position: center;
}

.productDiv h2 {
  z-index: 2;
}

.productDiv .coveringProductLink {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.productDiv .productText {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 3%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.productDiv.buds {
  background-image: url("/img/buds.png");
}

.productDiv.phone {
  background-image: url("/img/a425g.png");
}

.productDiv.phone-backside {
  background-image: url("/img/phone-backside.png");
}

.productDiv.fridge {
  background-image: url("/img/fridge.png");
}

.aboutSection {
  background-color: #444;
}

.aboutSection .aboutCompanyTextContainer {
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-auto-flow: unset;
  border-left: 2px solid #ffffff;
  margin: 6vw auto;
  color: #fff;
}

@media screen and (min-width: 50em) {
  .aboutSection .aboutCompanyTextContainer {
    grid-auto-flow: column;
  }
}

@media screen and (min-width: 56em) {
  .aboutSection .aboutCompanyTextContainer {
    margin: 3.4em auto;
  }
}

.founders {
  display: -ms-grid;
  display: grid;
  row-gap: 2em;
  max-width: 75em;
  margin: auto;
}

.founder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 16em auto;
      grid-template-rows: 16em auto;
}

.founder img {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background-color: red;
  -ms-grid-row: 1;
  grid-row: 1;
}

@media screen and (min-width: 55em) {
  .founder {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .founder img {
    margin: 0;
    grid-row: unset;
    width: 100%;
  }
  .founder .textContainer, .founder .aboutSection .aboutCompanyTextContainer, .aboutSection .founder .aboutCompanyTextContainer {
    grid-column: span 2;
  }
}

.contactSection {
  background-color: #aaaaaa;
}

.contactInfoContainer {
  max-width: 40em;
  margin: auto;
  display: -ms-grid;
  display: grid;
  background-color: orange;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  row-gap: 1em;
  text-align: center;
  font-size: 1.3em;
}

@media screen and (min-width: 50em) {
  .contactInfoContainer {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}
/*# sourceMappingURL=theme.css.map */