$shadow-color: pink
$border-color: yellow

$nav-height: 3em
$smallscreen-dropdown-height: 12.5em


html
    scroll-behavior: smooth

body
    margin: 0

main
    margin-top: $nav-height

a
    color: red

.textContainer
    padding: 0.5em 2em
    margin: 0 auto
    font-size: 1.1em
    line-height: 1.6em
    max-width: 40em
    display: grid
    grid-auto-flow: column
    column-gap: 2em

.verticalLine
  border-left: 0.1em solid green
  height: 100%


@mixin position($top, $right: $top, $bottom: $top, $left: $right) 
    top: $top
    right: $right
    bottom: $bottom
    left: $left
 


@import 'nav'
@import 'index'
@import 'test'