$nav-background: green
$shadow-color: pink
$border-color: yellow

$nav-height: 3em
$smallscreen-dropdown-height: 12.5em



body
    margin: 0

main
    margin-top: $nav-height

a
    color: green


@import 'nav'
@import 'index'